<div id="<%= dom_id text %>">
  <p>
    <strong>Identifier:</strong>
    <%= text.id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= text.title %>
  </p>

  <p>
    <strong>Prompt:</strong>
    <%= text.prompt %>
  </p>

  </br>
</div>
